<!DOCTYPE html>
<html lang="en">

<head>
    <title>Python Flask Bucket List App</title>

    <!-- BOOTSTRAP -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- END BOOTSTAP -->

    <link href="static/css/index.css" rel="stylesheet">

</head>

<body>
    <div class="pane"></div>
    <h1 class="top-header">Phisherman</h1>
    <div class="container">
        <div class="form-container">
            <form class="form-inline middle-form" id="url_form">
                <div class="form-group mx-sm-3 mb-2 middle-input-container">
                    <label for="check_url" class="sr-only">URL</label>
                    <input type="text" class="form-control middle-input" id="check_url" placeholder="https://youphishingsite.com?params=abc">
                </div>
                <button type="button" id="submit_url" class="btn btn-primary mb-2 middle-btn">Check</button>
            </form>
        </div>  

        <footer class="footer white-text">
            <p style="text-align: center;">&copy; Grey Matter</p>
        </footer>

        <div id="report">

        </div>

    </div>

    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- END JQUERY -->

    <script>
        $("#url_form").submit(function(e){
            e.preventDefault();
        })
        $("#submit_url").click(function(){
            let url = $("#check_url").val();
            $.get("/api/check",{url:url},function(data){
                alert(data);
            })
        })
    </script>
</body>

</html>